@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: 'League Spartan', sans-serif;
}
.frontOfPage{
    color: white;
    text-align: center;
    padding:20px;
    background-color: rgb(33, 37, 41);
    font-weight: 900;
    font-size: 36px;
}

footer .nav-link,.footer-text{
    font-weight: 600;
    color:white
}
.footer{
    background-color: rgb(33, 37, 41);
}
